body{
 margin: 0px;
 padding: 0px;
}
header{ 
    display: flex;
   justify-content: space-between;
align-items: center;
background-image: url(/pic/b2.jpg); 
width: 100%; height: 85px;
}
img{ height: 65px; margin-right: 20px;}
nav ul li a{
    text-decoration: none;
    color: rgb(179, 97, 103); margin-right: 25px; font-size: x-large; 
}
nav ul li{
    list-style: none;
    }
    nav ul{
        display: flex; 
    }
    input{
        border-radius: 15px;padding-left: 6px;padding-right: 6px;
        height: 40px; width: 300px;
    }
    input:focus{
        background-color: rgb(252,221,203);
    }
    .hamburger{ 
        display: none;
    margin-left: 20px; color: rgb(179, 97, 103);font-size: larger; 

       }
@media (max-width:904px) {
.hamburger{
    display: block;
}
nav{
    display: none;
}
}
    
    p{
    border: 1px solid ;
    scroll-behavior: auto; text-align: justify; padding: 10px;
    border-radius: 8px;width: 900px;
    }










    @keyframes tell {
        from{
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .whatsapp{
        height: 100px;
        width: 100px;
       border-radius: 50%;
       border-top: 7px dashed rgb(133, 89, 78);
       border-left: 7px dashed rgb(129, 42, 7);
       border-right: 7px solid rgb(223, 126, 71);
       animation-name: tell;
       animation-duration: 9s;
       animation-iteration-count: infinite;
     /*   animation-timing-function: linear; */
         position: sticky;
         left: 20px; bottom: 20px;
    }
   .whatsapp {
        text-align: center; }
        a{
            color: rgb(105, 27, 3); font-size: 20px;font-weight: bold;
        }
        @keyframes pic {
            from{
                filter: grayscale(100%);
            }
            to{
                filter: grayscale(0%);
            }
        }
       .table1 img{
        display: inline;   
        height: 200px;width: 250px; border-radius: 6px;
filter: grayscale(100%);
       }
       .table1 img:hover{
          animation-name:pic ;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          cursor: pointer;
          transform:rotateX(16deg);
          transition: 2s;
       }


footer{
    height: 180px; width: 100%; 
 background-color: rgb(247, 230, 210);
}
footer table tr td{
   padding-right: 80px; padding-top: 20px;
}
#email{
    color: brown; font-size: x-large;
}
